.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
    font-family: 'Roboto' , sans-serif;
}
.header {
    background: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

li{
    list-style: none;
}
.headerlinks{
    display: flex;
    flex-direction: row;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: space-evenly;
    gap: 10px;
}
#headerlogo {
    color: #f9faf8;
    font-size: 24px;
}

.sectionOne {
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-contents: center;
}

.hero-text {
    align-content: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;

}
#bigText {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.herobutton {
    background: #3882f6;
    border-radius: 5px;
    border:#3882f6;
    color:#e5e7eb;
    font-size: 12px;
    width: 60px;
    height: 30px;
}
.sectionTwo {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #1f2937;
    justify-content: center;
    align-items: center;
}
#headText {
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
    text-align: center;
}

.secTwoImages {
    display: flex;
}
#secimages2 {
    border-radius: 5px;
    border: solid #3882f6;
}

.sectionThree {
    background: #e5e7eb;
    font-size: 36px;
    color:#1f2937;
    font-style: italic;
    font-weight: 50;
    padding: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

#thor {
    color:#1f2937;
    font-size: 24px;
    font-weight: 800;
    text-align: right;
}

.sectionFour {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:#e5e7eb;
    margin-top: 60px;
    margin-bottom: 50px;
}

.bluebox {
    background: #3882f6;
    border-radius: 5px;
    border: solid #3882f6;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 125px;
    padding-right: 50px;
    padding-bottom: -20px;
}

#bluebutton {
    background: #3882f6;
    border-radius: 5px;
    border: solid #e5e7eb;
    font-size: 12px;
    color: #e5e7eb;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    margin: 50px;
}

#blueboxh {
    font-size: 24px;
    color:#e5e7eb;
    font-style: bold;
    margin-bottom: -20px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: center;
}